# Replacement CentOS-Base.repo which expicitly references the CentOS Vault.
# Necessary to ensure we do not pick up updates from post-@@CENTOS_VER@@ (in particular
# later versions of openssl).

[C@@CENTOS_VER@@-base]
name=CentOS-@@CENTOS_VER@@ - Base
baseurl=http://vault.centos.org/@@CENTOS_VER@@/os/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-@@CENTOS_BASE@@
enabled=1

[C@@CENTOS_VER@@-updates]
name=CentOS-@@CENTOS_VER@@ - Updates
baseurl=http://vault.centos.org/@@CENTOS_VER@@/updates/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-@@CENTOS_BASE@@
enabled=1

[C@@CENTOS_VER@@-extras]
name=CentOS-@@CENTOS_VER@@ - Extras
baseurl=http://vault.centos.org/@@CENTOS_VER@@/extras/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-@@CENTOS_BASE@@
enabled=1

[C@@CENTOS_VER@@-contrib]
name=CentOS-@@CENTOS_VER@@ - Contrib
baseurl=http://vault.centos.org/@@CENTOS_VER@@/contrib/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-@@CENTOS_BASE@@
enabled=1

[C@@CENTOS_VER@@-centosplus]
name=CentOS-@@CENTOS_VER@@ - CentOSPlus
baseurl=http://vault.centos.org/@@CENTOS_VER@@/centosplus/$basearch/
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-@@CENTOS_BASE@@
enabled=1
