deb http://archive.ubuntu.com/ubuntu @@UBUNTU_REL@@ main
deb http://archive.ubuntu.com/ubuntu @@UBUNTU_REL@@-updates main
deb http://archive.ubuntu.com/ubuntu @@UBUNTU_REL@@-security main
deb http://archive.ubuntu.com/ubuntu @@UBUNTU_REL@@ universe
deb http://archive.ubuntu.com/ubuntu @@UBUNTU_REL@@-updates universe
deb http://archive.ubuntu.com/ubuntu @@UBUNTU_REL@@-security universe
